<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" href="https://github.com/Ssn633/Portfolio/blob/main/Imgs/Favicon.png">
    <script src="https://cdn.tailwindcss.com">
    </script>
</head>

<body class="dark:bg-gray-200 font-bold grid m-3 p-4 text-center justify-center mt-3 md:text-base sm:text-sm sm:mt-0 rounded-lg">
    <div class="container dark:bg-gray-900 font-bold grid m-3 p-4 text-center justify-center md:text-base sm:text-sm sm:mt-0 rounded-lg">
        <div class="inpf font-bold grid items-center justify-center mt-3 font-bold dark:text-gray-100 sm:mt-0">
            <h1 class="md:text-xl sm:text-lg lg:text-2xl">Check out the weather</h1><br>
            <form method="GET">
                <lable for="place">
                    <input type="text" id='place' value="{{request.GET.place}}" name="place" placeholder="Enter your locality" class="dark:bg-gray-600 dark:text-gray-900 font-bold grid m-3 p-4 text-center justify-center mt-3 md:text-base sm:text-sm sm:mt-0 rounded-lg"><br>
                    </label>
                    <input type="submit" value="Submit" class="dark:text-gray-900 dark:bg-gray-600 font-bold p-4 text-center justify-center mt-3 md:text-lg sm:text-base sm:mt-0 rounded-lg">
            </form>
        </div><br>
        <div class="weather dark:bg-gray-600 dark:text-gray-900 font-bold grid m-3 p-4 text-center justify-center mt-3 md:text-lg sm:text-base sm:mt-0 rounded-lg">
            {% if weather %}
            <h2>Weather in {{ weather.region }}</h2>
            <p>Temperature: {{ weather.temp }}</p>
            <p>Climate: {{ weather.status }}</p>
            {% else %}
            <h1>Enter a valid locality</h1>
            {% endif %}
        </div>
        <footer id="Contact" class="p-4  items-center rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-900">
            <span class="flex flex-wrap items-center justify-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">Made with 🫰 by Swamynath
            </span>

            <span class="flex flex-wrap items-center justify-center ml-3 mt-3 space-x-3 sm:space-x-2 md:space-x-2 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
               <a href="https://www.hackerrank.com/swamynath633"><img src="./Imgs/icons8-hackerrank-32.png" class="text-base"></a>
               <a href="https://github.com/Ssn633"><img src="./Imgs/icons8-github-32.png" class="text-base"></a>
                <a href="https://www.linkedin.com/in/swamynath-s-5139b2191/"><img src="./Imgs/icons8-linkedin-2-32.png" class="text-base"></a>
                <a href="swamynath633@gmail.com"><img src="./Imgs/icons8-gmail-logo-32.png" class="text-base"></a>
                <a href="https://t.me/S_n_633"><img src="./Imgs/icons8-telegram-app-32.png" class="text-base"></a>
            </span>
        </footer>
    </div>
</body>

</html>
